@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using FactoryProduction.ViewModels;
@using FactoryProduction.Models
@model IndexViewModel
@model IEnumerable<FactoryProduction.Models.Products>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitOfProduct)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Factory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitOfProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Factory.FactoriesId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType.ProductTypesId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
